In [1]:
from UtilDatasetPrepFromLORE import *
from Rankers import *
from PreferentialSampling import *
from UniformSampling import *
from StandardEval import *
from FairnessEval import *
from Explainers import *

21-Dec-20 11:50:28 fatf.utils.array.tools INFO     Using numpy's numpy.lib.recfunctions.structured_to_unstructured as fatf.utils.array.tools.structured_to_unstructured and fatf.utils.array.tools.structured_to_unstructured_row.

# GERMAN

In [ ]:
path_res = '/Users/Marta/FAccT/Res-GERMAN/'
path_data = 'datasets/'
filename = 'german_credit.csv'
sensitive = ['personal_status_sex'] #OR foreign_worker

In [7]:
df = pd.read_csv(path_data+filename)#("./doc/example_notebooks/propublica_data_for_fairml.csv")
df

,default,account_check_status,duration_in_month,credit_history,purpose,credit_amount,savings,present_emp_since,installment_as_income_perc,personal_status_sex,...,present_res_since,property,age,other_installment_plans,housing,credits_this_bank,job,people_under_maintenance,telephone,foreign_worker
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,no checking account,12,existing credits paid back duly till now,radio/television,1736,... < 100 DM,4 <= ... < 7 years,3,female : divorced/separated/married,...,4,real estate,31,none,own,1,unskilled - resident,1,none,yes
996,0,< 0 DM,30,existing credits paid back duly till now,car (used),3857,... < 100 DM,1 <= ... < 4 years,4,male : divorced/separated,...,4,if not A121 : building society savings agreeme...,40,none,own,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
997,0,no checking account,12,existing credits paid back duly till now,domestic appliances,804,... < 100 DM,.. >= 7 years,4,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",38,none,own,1,skilled employee / official,1,none,yes
998,1,< 0 DM,45,existing credits paid back duly till now,domestic appliances,1845,... < 100 DM,1 <= ... < 4 years,4,male : single,...,4,unknown / no property,23,none,for free,1,skilled employee / official,1,"yes, registered under the customers name",yes
999,0,0 <= ... < 200 DM,45,critical account/ other credits existing (not ...,car (used),4576,100 <= ... < 500 DM,unemployed,3,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",27,none,own,1,skilled employee / official,1,none,yes

In [8]:
df = prepare_german_dataset(filename, path_data, sensitive)
df

,target,account_check_status,duration_in_month,credit_history,purpose,credit_amount,savings,present_emp_since,installment_as_income_perc,other_debtors,...,credits_this_bank,job,people_under_maintenance,telephone,foreign_worker_no,foreign_worker_yes,personal_status_sex_female : divorced/separated/married,personal_status_sex_male : divorced/separated,personal_status_sex_male : married/widowed,personal_status_sex_male : single
0,0,1,6,1,4,1169,4,0,3,2,...,1,1,0,1,0,1,0,0,0,1
1,1,0,48,3,4,5951,1,2,1,2,...,0,1,0,0,0,1,1,0,0,0
2,0,3,12,1,0,2096,1,3,1,2,...,0,3,1,0,0,1,0,0,0,1
3,0,1,42,3,7,7882,1,3,1,1,...,0,1,1,0,0,1,0,0,0,1
4,1,1,24,2,2,4870,1,2,2,2,...,1,1,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,3,12,3,7,1736,1,3,2,2,...,0,3,0,0,0,1,1,0,0,0
996,0,1,30,3,3,3857,1,2,3,2,...,0,0,0,1,0,1,0,1,0,0
997,0,3,12,3,4,804,1,0,3,2,...,0,1,0,0,0,1,0,0,0,1
998,1,1,45,3,4,1845,1,2,3,2,...,0,1,0,1,0,1,0,0,0,1
999,0,0,45,1,3,4576,2,4,2,2,...,0,1,0,0,0,1,0,0,0,1

In [ ]:
'''target = 'target'
column_names = df.columns.values.tolist()
column_names.remove(target)
class_names=['Medium-Low','High']
adClass=0
disClass=1
protected = ['race_African-American','race_Asian','race_Caucasian','race_Hispanic','race_Native-American','race_Other']
protected_feature='races' 
non_sensitive = [elem for elem in column_names if elem not in protected]'''